In [2]:
import pandas as pd

In [3]:
female_df = pd.read_csv('female.csv')

In [4]:
female_df.head(100)

,SubjectId,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10037,231,1282,301,204,1180,222,177,373,315,...,Combat Support,92Y,Germany,2,NaN,2,26,61,142,Right hand
1,10038,194,1379,320,207,1292,225,178,372,272,...,Combat Service Support,25U,California,3,Mexican,3,21,64,120,Right hand
2,10042,183,1369,329,233,1271,237,196,397,300,...,Combat Service Support,35D,Texas,1,NaN,1,23,68,147,Right hand
3,10043,261,1356,306,214,1250,240,188,384,364,...,Combat Service Support,25U,District of Columbia,8,Caribbean Islander,2,22,66,175,Right hand
4,10051,309,1303,308,214,1210,217,182,378,320,...,Combat Arms,42A,Texas,1,NaN,1,45,63,195,Right hand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,13027,257,1233,274,190,1124,215,160,356,275,...,Combat Support,42A,Texas,3,Mexican,3,32,60,122,Right hand
96,13036,236,1206,277,207,1098,222,177,350,301,...,Combat Support,42A,Puerto Rico,3,Puerto Rican,3,41,60,137,Right hand
97,13064,269,1354,321,233,1241,230,185,373,328,...,Combat Support,46Q,Texas,1,NaN,1,40,65,160,Right hand
98,13141,209,1318,304,225,1213,229,173,379,310,...,Combat Support,68W,California,1,NaN,1,42,64,146,Left hand
99,13144,183,1273,281,203,1183,217,173,350,265,...,Combat Service Support,14E,Indiana,1,NaN,1,33,62,110,Right hand

In [5]:
female_df[['chestcircumference','waistcircumference','crotchheight', 'stature', 'weightkg']]

      chestcircumference  waistcircumference  crotchheight  stature  weightkg
0                    922                 850           759     1560       657
1                    839                 708           835     1665       534
2                    874                 727           821     1711       663
3                   1008                 923           804     1660       782
4                   1089                1163           726     1572       886
...                  ...                 ...           ...      ...       ...
1981                1082                1043           779     1687       832
1982                1016                 971           732     1613       717
1983                1093                 982           793     1644       762
1984                 922                 837           763     1616       632
1985                 902                 891           783     1641       610

[1986 rows x 5 columns]

In [6]:
col_chest = female_df['chestcircumference']/10
print(col_chest)

0        92.2
1        83.9
2        87.4
3       100.8
4       108.9
        ...
1981    108.2
1982    101.6
1983    109.3
1984     92.2
1985     90.2
Name: chestcircumference, Length: 1986, dtype: float64

In [7]:
col_waist = female_df['waistcircumference']/10
print(col_waist)

0        85.0
1        70.8
2        72.7
3        92.3
4       116.3
        ...
1981    104.3
1982     97.1
1983     98.2
1984     83.7
1985     89.1
Name: waistcircumference, Length: 1986, dtype: float64

In [8]:
col_crotch = female_df['crotchheight']/10
print(col_crotch)

0       75.9
1       83.5
2       82.1
3       80.4
4       72.6
        ...
1981    77.9
1982    73.2
1983    79.3
1984    76.3
1985    78.3
Name: crotchheight, Length: 1986, dtype: float64

In [9]:
col_statue = female_df['stature']/10
print(col_statue)

0       156.0
1       166.5
2       171.1
3       166.0
4       157.2
        ...
1981    168.7
1982    161.3
1983    164.4
1984    161.6
1985    164.1
Name: stature, Length: 1986, dtype: float64

In [10]:
col_weight = female_df['weightkg']/10
print(col_weight)

0       65.7
1       53.4
2       66.3
3       78.2
4       88.6
        ...
1981    83.2
1982    71.7
1983    76.2
1984    63.2
1985    61.0
Name: weightkg, Length: 1986, dtype: float64

In [11]:
female_first = pd.concat([col_chest, col_waist, col_crotch, col_statue, col_weight],axis=1)

In [12]:
female_first.to_csv('female_first.csv')

In [13]:
female_first.head()

   chestcircumference  waistcircumference  crotchheight  stature  weightkg
0                92.2                85.0          75.9    156.0      65.7
1                83.9                70.8          83.5    166.5      53.4
2                87.4                72.7          82.1    171.1      66.3
3               100.8                92.3          80.4    166.0      78.2
4               108.9               116.3          72.6    157.2      88.6

In [14]:
female_first = pd.read_csv('female_first.csv')
female_first.insert(4, column="T shirt size(chest,waistcircum)", value="-")
female_first

,Unnamed: 0,chestcircumference,waistcircumference,crotchheight,"T shirt size(chest,waistcircum)",stature,weightkg
0,0,92.2,85.0,75.9,-,156.0,65.7
1,1,83.9,70.8,83.5,-,166.5,53.4
2,2,87.4,72.7,82.1,-,171.1,66.3
3,3,100.8,92.3,80.4,-,166.0,78.2
4,4,108.9,116.3,72.6,-,157.2,88.6
...,...,...,...,...,...,...,...
1981,1981,108.2,104.3,77.9,-,168.7,83.2
1982,1982,101.6,97.1,73.2,-,161.3,71.7
1983,1983,109.3,98.2,79.3,-,164.4,76.2
1984,1984,92.2,83.7,76.3,-,161.6,63.2
1985,1985,90.2,89.1,78.3,-,164.1,61.0

In [15]:
size = []
for chest, waist in zip(female_first['chestcircumference'], female_first['waistcircumference']):
    if chest < 80:
        if waist >= 65:
            size.append('X-S')
        else:
            size.append('XX-S')
    elif chest < 85:
        if waist >= 68:
            size.append('Small')
        else:
            size.append('X-S')
    elif chest < 89:
        if waist >= 73:
            size.append('Medium')
        else:
            size.append('Small')
    elif chest < 94:
        if waist >= 78:
            size.append('Large')
        else:
            size.append('Medium')
    elif chest < 99:
        if waist >= 83:
            size.append('X-L')
        else:
            size.append('Large')
    elif chest < 104:
        if waist >=88:
            size.append('XX-L')
        else:
            size.append('X-L')
    elif chest < 105:
        if waist > 89:
            size.append('X-L')
        else:
            size.append('XX-L')
    elif chest >= 105:
        size.append('XXX-L')

female_first['T shirt size(chest,waistcircum)'] = size
female_first

,Unnamed: 0,chestcircumference,waistcircumference,crotchheight,"T shirt size(chest,waistcircum)",stature,weightkg
0,0,92.2,85.0,75.9,Large,156.0,65.7
1,1,83.9,70.8,83.5,Small,166.5,53.4
2,2,87.4,72.7,82.1,Small,171.1,66.3
3,3,100.8,92.3,80.4,XX-L,166.0,78.2
4,4,108.9,116.3,72.6,XXX-L,157.2,88.6
...,...,...,...,...,...,...,...
1981,1981,108.2,104.3,77.9,XXX-L,168.7,83.2
1982,1982,101.6,97.1,73.2,XX-L,161.3,71.7
1983,1983,109.3,98.2,79.3,XXX-L,164.4,76.2
1984,1984,92.2,83.7,76.3,Large,161.6,63.2
1985,1985,90.2,89.1,78.3,Large,164.1,61.0

In [16]:
female_first.insert(6, column="Pants size (waistcircum, crotchheight)", value="-")
female_first

,Unnamed: 0,chestcircumference,waistcircumference,crotchheight,"T shirt size(chest,waistcircum)",stature,"Pants size (waistcircum, crotchheight)",weightkg
0,0,92.2,85.0,75.9,Large,156.0,-,65.7
1,1,83.9,70.8,83.5,Small,166.5,-,53.4
2,2,87.4,72.7,82.1,Small,171.1,-,66.3
3,3,100.8,92.3,80.4,XX-L,166.0,-,78.2
4,4,108.9,116.3,72.6,XXX-L,157.2,-,88.6
...,...,...,...,...,...,...,...,...
1981,1981,108.2,104.3,77.9,XXX-L,168.7,-,83.2
1982,1982,101.6,97.1,73.2,XX-L,161.3,-,71.7
1983,1983,109.3,98.2,79.3,XXX-L,164.4,-,76.2
1984,1984,92.2,83.7,76.3,Large,161.6,-,63.2
1985,1985,90.2,89.1,78.3,Large,164.1,-,61.0

In [17]:
size_pants = []
for waist_pants, crotch in zip(female_first['waistcircumference'], female_first['crotchheight']):
    if waist_pants < 65:
        if crotch >= 73:
            size_pants.append('X-S')
        else:
            size_pants.append('XX-S')
    elif waist_pants < 68:
        if crotch >= 76:
            size_pants.append('Small')
        else:
            size_pants.append('X-S')
    elif waist_pants < 73:
        if crotch >= 78:
            size_pants.append('Medium')
        else:
            size_pants.append('Small')
    elif waist_pants < 78:
        if crotch >= 81:
            size_pants.append('Large')
        else:
            size_pants.append('Medium')
    elif waist_pants < 83:
        if crotch >= 82:
            size_pants.append('X-L')
        else:
            size_pants.append('Large')
    elif waist_pants < 88:
        if crotch >= 83:
            size_pants.append('XX-L')
        else:
            size_pants.append('X-L')
    elif waist_pants < 89:
        if crotch >= 84:
            size_pants.append('X-L')
        else:
            size_pants.append('XX-L')
    elif waist_pants < 105:
        if crotch > 89:
            size_pants.append('XX-L')
        else:
            size_pants.append('XXX-L')
    elif waist_pants >= 105:
        size_pants.append('XXXX-L')


female_first['Pants size (waistcircum, crotchheight)'] = size_pants
female_first

,Unnamed: 0,chestcircumference,waistcircumference,crotchheight,"T shirt size(chest,waistcircum)",stature,"Pants size (waistcircum, crotchheight)",weightkg
0,0,92.2,85.0,75.9,Large,156.0,X-L,65.7
1,1,83.9,70.8,83.5,Small,166.5,Medium,53.4
2,2,87.4,72.7,82.1,Small,171.1,Medium,66.3
3,3,100.8,92.3,80.4,XX-L,166.0,XXX-L,78.2
4,4,108.9,116.3,72.6,XXX-L,157.2,XXXX-L,88.6
...,...,...,...,...,...,...,...,...
1981,1981,108.2,104.3,77.9,XXX-L,168.7,XXX-L,83.2
1982,1982,101.6,97.1,73.2,XX-L,161.3,XXX-L,71.7
1983,1983,109.3,98.2,79.3,XXX-L,164.4,XXX-L,76.2
1984,1984,92.2,83.7,76.3,Large,161.6,X-L,63.2
1985,1985,90.2,89.1,78.3,Large,164.1,XXX-L,61.0

In [21]:
female_first.drop(['chestcircumference', 'waistcircumference', 'crotchheight',], axis=1, inplace=True)

KeyError: "['chestcircumference', 'waistcircumference', 'crotchheight'] not found in axis"

In [24]:
female_first.drop('Unnamed: 0', axis=1, inplace=True)

In [25]:
female_first

,"T shirt size(chest,waistcircum)",stature,"Pants size (waistcircum, crotchheight)",weightkg
0,Large,156.0,X-L,65.7
1,Small,166.5,Medium,53.4
2,Small,171.1,Medium,66.3
3,XX-L,166.0,XXX-L,78.2
4,XXX-L,157.2,XXXX-L,88.6
...,...,...,...,...
1981,XXX-L,168.7,XXX-L,83.2
1982,XX-L,161.3,XXX-L,71.7
1983,XXX-L,164.4,XXX-L,76.2
1984,Large,161.6,X-L,63.2
1985,Large,164.1,XXX-L,61.0

In [31]:
def swap_columns(female_first, col1, col2):
    col_list = list(female_first.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    female_first = female_first[col_list]
    return female_first

female_first = swap_columns(female_first, 'stature', 'Pants size (waistcircum, crotchheight)')
print(female_first)

     T shirt size(chest,waistcircum) Pants size (waistcircum, crotchheight)  \
0                              Large                                    X-L
1                              Small                                 Medium
2                              Small                                 Medium
3                               XX-L                                  XXX-L
4                              XXX-L                                 XXXX-L
...                              ...                                    ...
1981                           XXX-L                                  XXX-L
1982                            XX-L                                  XXX-L
1983                           XXX-L                                  XXX-L
1984                           Large                                    X-L
1985                           Large                                  XXX-L

      stature  weightkg
0       156.0      65.7
1       166.5      53.4
2       171.1      66.3
3       166.0      78.2
4       157.2      88.6
...       ...       ...
1981    168.7      83.2
1982    161.3      71.7
1983    164.4      76.2
1984    161.6      63.2
1985    164.1      61.0

[1986 rows x 4 columns]

In [34]:
female_first

,"T shirt size(chest,waistcircum)","Pants size (waistcircum, crotchheight)",stature,weightkg
0,Large,X-L,156.0,65.7
1,Small,Medium,166.5,53.4
2,Small,Medium,171.1,66.3
3,XX-L,XXX-L,166.0,78.2
4,XXX-L,XXXX-L,157.2,88.6
...,...,...,...,...
1981,XXX-L,XXX-L,168.7,83.2
1982,XX-L,XXX-L,161.3,71.7
1983,XXX-L,XXX-L,164.4,76.2
1984,Large,X-L,161.6,63.2
1985,Large,XXX-L,164.1,61.0

In [33]:
female_first.to_csv('female_completed')