In [38]:
import pandas as pd

In [39]:
male_df = pd.read_csv('male.csv')

In [40]:
male_df.head(100)

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10027,266,1467,337,222,1347,253,202,401,369,...,Combat Arms,19D,North Dakota,1,NaN,1,41,71,180,Right hand
1,10032,233,1395,326,220,1293,245,193,394,338,...,Combat Support,68W,New York,1,NaN,1,35,68,160,Left hand
2,10033,287,1430,341,230,1327,256,196,427,408,...,Combat Support,68W,New York,2,NaN,2,42,68,205,Left hand
3,10092,234,1347,310,230,1239,262,199,401,359,...,Combat Service Support,88M,Wisconsin,1,NaN,1,31,66,175,Right hand
4,10093,250,1585,372,247,1478,267,224,435,356,...,Combat Service Support,92G,North Carolina,2,NaN,2,21,77,213,Right hand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,10692,209,1466,339,233,1367,257,193,428,362,...,Combat Arms,19D,Massachusetts,1,NaN,1,21,72,170,Right hand
96,10694,245,1349,303,223,1248,248,182,403,331,...,Combat Arms,19K,Tennessee,1,NaN,1,22,66,158,Right hand
97,10695,295,1403,327,231,1291,242,196,367,348,...,Combat Arms,19K,Arkansas,1,NaN,1,26,67,174,Right hand
98,10696,226,1429,330,220,1337,242,195,439,320,...,Combat Arms,19K,Alaska,1,NaN,1,20,74,165,Right hand
99,10701,300,1433,327,228,1318,245,197,421,386,...,Combat Arms,19K,Ohio,1,NaN,1,27,71,215,Right hand

In [41]:
# byxstorlek 90, 83,
male_df[['subjectid', 'chestcircumference', 'waistcircumference', 'weightkg', 'buttockcircumference', 'crotchheight', 'stature']]

,subjectid,chestcircumference,waistcircumference,weightkg,buttockcircumference,crotchheight,stature
0,10027,1074,933,815,979,877,1776
1,10032,1021,870,726,944,851,1702
2,10033,1120,964,929,1054,854,1735
3,10092,1114,857,794,991,769,1655
4,10093,1048,868,946,1029,1014,1914
...,...,...,...,...,...,...,...
4077,29442,954,816,675,917,807,1688
4078,29443,1072,978,896,1049,848,1765
4079,29447,1045,991,832,1038,787,1690
4080,29451,984,783,731,929,846,1718
4081,29452,1144,1080,985,1009,931,1828

In [42]:
col_chest = male_df['chestcircumference']/10
print(col_chest)

0       107.4
1       102.1
2       112.0
3       111.4
4       104.8
        ...
4077     95.4
4078    107.2
4079    104.5
4080     98.4
4081    114.4
Name: chestcircumference, Length: 4082, dtype: float64

In [43]:
col_waist = male_df['waistcircumference']/10
print(col_waist)

0        93.3
1        87.0
2        96.4
3        85.7
4        86.8
        ...
4077     81.6
4078     97.8
4079     99.1
4080     78.3
4081    108.0
Name: waistcircumference, Length: 4082, dtype: float64

In [44]:
col_subID = male_df['subjectid']
print(col_subID)

0       10027
1       10032
2       10033
3       10092
4       10093
        ...
4077    29442
4078    29443
4079    29447
4080    29451
4081    29452
Name: subjectid, Length: 4082, dtype: int64

In [45]:
col_weight = male_df['weightkg']/10
print(col_weight)

0       81.5
1       72.6
2       92.9
3       79.4
4       94.6
        ...
4077    67.5
4078    89.6
4079    83.2
4080    73.1
4081    98.5
Name: weightkg, Length: 4082, dtype: float64

In [46]:
col_butt = male_df['buttockcircumference']/10
print(col_butt)

0        97.9
1        94.4
2       105.4
3        99.1
4       102.9
        ...
4077     91.7
4078    104.9
4079    103.8
4080     92.9
4081    100.9
Name: buttockcircumference, Length: 4082, dtype: float64

In [47]:
col_crotch = male_df['crotchheight']/10
print(col_crotch)

0        87.7
1        85.1
2        85.4
3        76.9
4       101.4
        ...
4077     80.7
4078     84.8
4079     78.7
4080     84.6
4081     93.1
Name: crotchheight, Length: 4082, dtype: float64

In [48]:
col_stature = male_df['stature']/10
print(col_stature)

0       177.6
1       170.2
2       173.5
3       165.5
4       191.4
        ...
4077    168.8
4078    176.5
4079    169.0
4080    171.8
4081    182.8
Name: stature, Length: 4082, dtype: float64

In [49]:
male_update = pd.concat([col_subID, col_chest, col_waist, col_weight, col_butt, col_crotch, col_stature], axis=1)

In [50]:
male_update.head()

,subjectid,chestcircumference,waistcircumference,weightkg,buttockcircumference,crotchheight,stature
0,10027,107.4,93.3,81.5,97.9,87.7,177.6
1,10032,102.1,87.0,72.6,94.4,85.1,170.2
2,10033,112.0,96.4,92.9,105.4,85.4,173.5
3,10092,111.4,85.7,79.4,99.1,76.9,165.5
4,10093,104.8,86.8,94.6,102.9,101.4,191.4

In [51]:
male_update.to_csv('male_update.csv')

In [52]:
male_tshirt = pd.read_csv('male_update.csv')
male_tshirt.insert(4, column="T Shirt size(chest,waistcircum)", value="-")
male_tshirt.head()

,Unnamed: 0,subjectid,chestcircumference,waistcircumference,"T Shirt size(chest,waistcircum)",weightkg,buttockcircumference,crotchheight,stature
0,0,10027,107.4,93.3,-,81.5,97.9,87.7,177.6
1,1,10032,102.1,87.0,-,72.6,94.4,85.1,170.2
2,2,10033,112.0,96.4,-,92.9,105.4,85.4,173.5
3,3,10092,111.4,85.7,-,79.4,99.1,76.9,165.5
4,4,10093,104.8,86.8,-,94.6,102.9,101.4,191.4

In [53]:
male_tshirt.to_csv('male_tshirt.csv')

In [54]:
male_tshirt_size = pd.read_csv('male_tshirt.csv')

In [55]:
male_tshirt_size.head(100)

,Unnamed: 0.1,Unnamed: 0,subjectid,chestcircumference,waistcircumference,"T Shirt size(chest,waistcircum)",weightkg,buttockcircumference,crotchheight,stature
0,0,0,10027,107.4,93.3,-,81.5,97.9,87.7,177.6
1,1,1,10032,102.1,87.0,-,72.6,94.4,85.1,170.2
2,2,2,10033,112.0,96.4,-,92.9,105.4,85.4,173.5
3,3,3,10092,111.4,85.7,-,79.4,99.1,76.9,165.5
4,4,4,10093,104.8,86.8,-,94.6,102.9,101.4,191.4
...,...,...,...,...,...,...,...,...,...,...
95,95,95,10692,99.4,80.9,-,77.5,97.3,89.1,179.1
96,96,96,10694,100.1,86.2,-,72.7,99.9,80.2,165.7
97,97,97,10695,106.9,102.7,-,79.7,98.8,82.2,170.1
98,98,98,10696,99.5,79.7,-,74.4,100.7,85.3,178.6
99,99,99,10701,110.4,108.2,-,96.8,111.8,82.1,175.5

In [56]:
size = []
for chest, waist in zip(male_tshirt_size['chestcircumference'],male_tshirt_size['waistcircumference']):
    if chest < 92:
        if waist >= 86:
            size.append('Medium')
        else:
            size.append('Small')
    elif chest < 102:
        if waist >= 91:
            size.append('Large')
        else:
            size.append('Medium')
    elif chest < 112:
        if waist >= 96:
            size.append('X-L')
        else:
            size.append('Large')
    elif chest < 122:
        if waist >= 101:
            size.append('XX-L')
        else:
            size.append('X-L')
    elif chest < 132:
        size.append('XX-L')
    elif chest < 142:
        size.append('XXX-L')
    elif chest < 152:
        size.append('XXXX-L')

male_tshirt_size['T Shirt size(chest,waistcircum)'] = size
male_tshirt_size.head(100)

,Unnamed: 0.1,Unnamed: 0,subjectid,chestcircumference,waistcircumference,"T Shirt size(chest,waistcircum)",weightkg,buttockcircumference,crotchheight,stature
0,0,0,10027,107.4,93.3,Large,81.5,97.9,87.7,177.6
1,1,1,10032,102.1,87.0,Large,72.6,94.4,85.1,170.2
2,2,2,10033,112.0,96.4,X-L,92.9,105.4,85.4,173.5
3,3,3,10092,111.4,85.7,Large,79.4,99.1,76.9,165.5
4,4,4,10093,104.8,86.8,Large,94.6,102.9,101.4,191.4
...,...,...,...,...,...,...,...,...,...,...
95,95,95,10692,99.4,80.9,Medium,77.5,97.3,89.1,179.1
96,96,96,10694,100.1,86.2,Medium,72.7,99.9,80.2,165.7
97,97,97,10695,106.9,102.7,X-L,79.7,98.8,82.2,170.1
98,98,98,10696,99.5,79.7,Medium,74.4,100.7,85.3,178.6
99,99,99,10701,110.4,108.2,X-L,96.8,111.8,82.1,175.5

In [57]:
male_tshirt_size.drop(["Unnamed: 0", "Unnamed: 0.1", "T shirt size"], axis=1)

KeyError: "['T shirt size'] not found in axis"

In [ ]:
male_tshirt_size.head()

In [ ]:
male_tshirt_size.to_csv('male_tshirt_size_added')

In [ ]:
male_pants = pd.read_csv('male_tshirt_size_added')
male_pants.insert(8,column="Pants size (waistcircum,buttock,crotchheight)", value="-")
male_pants.head()

In [ ]:
male_pants.to_csv('male_pants_size')

In [ ]:
male_pants_size = pd.read_csv('male_pants_size')

In [ ]:
male_pants_size.head(100)

In [ ]:
size_pants = []
for waist_pants, crotch in zip(male_pants_size['waistcircumference'], male_pants_size['crotchheight']):
    if waist_pants < 86:
            if crotch >= 77:
                size_pants.append('Medium')
            else:
                size_pants.append('Small')
    elif waist_pants < 91:
            if crotch >= 79:
                size_pants.append('Large')
            else:
                size_pants.append('Medium')
    elif waist_pants < 96:
            if crotch >= 82:
                size_pants.append('X-L')
            else:
                size_pants.append('Large')
    elif waist_pants < 101:
            if crotch >= 84:
                size_pants.append('XX-L')
            else:
                size_pants.append('X-L')
    elif waist_pants < 107:
        if crotch >= 86:
            size_pants.append('XX-L')
        else:
            size_pants.append('X-L')
    elif waist_pants < 118:
        if crotch > 86:
            size_pants.append('XXX_L')
        else:
            size_pants.append('XX-L')
    elif waist_pants >= 118:
        size_pants.append('XXXX-L')


male_pants_size['Pants size (waistcircum,crotchheight)'] = size_pants
male_pants_size.head()

In [ ]:
male_pants_size.head()

In [ ]:
male_pants_size.drop(["Unnamed: 0", "Unnamed: 0.1", "Unnamed: 0.2", "Unnamed: 0.3", "Pants size (waistcircum,buttock,crotchheight)"], axis=1, inplace=True)

In [ ]:
male_pants_size.drop("subjectid", axis=1, inplace=True)

In [ ]:
male_pants_size.drop(['chestcircumference', 'waistcircumference', 'buttockcircumference', 'crotchheight'], axis=1, inplace=True)

In [ ]:
male_pants_size

In [62]:
def swap_columns(male_pants_size, col1, col2):
    col_list = list(male_pants_size.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    male_pants_size = male_pants_size[col_list]
    return male_pants_size

male_pants_size = swap_columns(male_pants_size, 'stature', 'Pants size (waistcircum,crotchheight)')
print(male_pants_size)
male_pants_size

     T Shirt size(chest,waistcircum)  weightkg  stature  \
0                              Large      81.5    177.6
1                              Large      72.6    170.2
2                                X-L      92.9    173.5
3                              Large      79.4    165.5
4                              Large      94.6    191.4
...                              ...       ...      ...
4077                          Medium      67.5    168.8
4078                             X-L      89.6    176.5
4079                             X-L      83.2    169.0
4080                          Medium      73.1    171.8
4081                            XX-L      98.5    182.8

     Pants size (waistcircum,crotchheight)
0                                      X-L
1                                    Large
2                                     XX-L
3                                    Small
4                                    Large
...                                    ...
4077                                Medium
4078                                  XX-L
4079                                   X-L
4080                                Medium
4081                                 XXX_L

[4082 rows x 4 columns]

,"T Shirt size(chest,waistcircum)",weightkg,stature,"Pants size (waistcircum,crotchheight)"
0,Large,81.5,177.6,X-L
1,Large,72.6,170.2,Large
2,X-L,92.9,173.5,XX-L
3,Large,79.4,165.5,Small
4,Large,94.6,191.4,Large
...,...,...,...,...
4077,Medium,67.5,168.8,Medium
4078,X-L,89.6,176.5,XX-L
4079,X-L,83.2,169.0,X-L
4080,Medium,73.1,171.8,Medium
4081,XX-L,98.5,182.8,XXX_L

In [61]:
male_pants_size

,"T Shirt size(chest,waistcircum)",weightkg,"Pants size (waistcircum,crotchheight)",stature
0,Large,81.5,X-L,177.6
1,Large,72.6,Large,170.2
2,X-L,92.9,XX-L,173.5
3,Large,79.4,Small,165.5
4,Large,94.6,Large,191.4
...,...,...,...,...
4077,Medium,67.5,Medium,168.8
4078,X-L,89.6,XX-L,176.5
4079,X-L,83.2,X-L,169.0
4080,Medium,73.1,Medium,171.8
4081,XX-L,98.5,XXX_L,182.8

In [63]:
def swap_columns(male_pants_size, col1, col2):
    col_list = list(male_pants_size.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    male_pants_size = male_pants_size[col_list]
    return male_pants_size

male_pants_size = swap_columns(male_pants_size, 'weightkg', 'Pants size (waistcircum,crotchheight)')
print(male_pants_size)
male_pants_size

     T Shirt size(chest,waistcircum) Pants size (waistcircum,crotchheight)  \
0                              Large                                   X-L
1                              Large                                 Large
2                                X-L                                  XX-L
3                              Large                                 Small
4                              Large                                 Large
...                              ...                                   ...
4077                          Medium                                Medium
4078                             X-L                                  XX-L
4079                             X-L                                   X-L
4080                          Medium                                Medium
4081                            XX-L                                 XXX_L

      stature  weightkg
0       177.6      81.5
1       170.2      72.6
2       173.5      92.9
3       165.5      79.4
4       191.4      94.6
...       ...       ...
4077    168.8      67.5
4078    176.5      89.6
4079    169.0      83.2
4080    171.8      73.1
4081    182.8      98.5

[4082 rows x 4 columns]

,"T Shirt size(chest,waistcircum)","Pants size (waistcircum,crotchheight)",stature,weightkg
0,Large,X-L,177.6,81.5
1,Large,Large,170.2,72.6
2,X-L,XX-L,173.5,92.9
3,Large,Small,165.5,79.4
4,Large,Large,191.4,94.6
...,...,...,...,...
4077,Medium,Medium,168.8,67.5
4078,X-L,XX-L,176.5,89.6
4079,X-L,X-L,169.0,83.2
4080,Medium,Medium,171.8,73.1
4081,XX-L,XXX_L,182.8,98.5

In [64]:
male_pants_size.to_csv('male_completed')